body, 
li{
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    list-style-type: none;
    text-decoration: none;
}
.container-cv{
    display: flex;
    width:900px;
    height: auto;
    margin: 50px auto;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border-radius: 15px;
}
.container-gauche{
    width: 30%;
    flex-direction: column;
    padding: 25px;
    background-color:#6479e3;
    color:white ;
    border-radius: 15px 0 0 15px;
}

.container-gauche__identite__image{
    margin-left:30% ;
    width:7rem;
    height:7rem ;
    border-radius:50% ;
    object-fit: cover;
}
/* .container-gauche__identite__image:hover{
    transform: rotate(360deg);
    cursor: grab;
} */

/*les icones et texte*/
.icon-linkedin {
margin-right:0.5rem;
}
.text-darkblue{
color: #002060 
}

.icon-skills{
margin-left: -2rem;
}
.skills{
    margin-left:1rem ;
}

/*****mettre les h2 en uppercase*/  


/***********partie droite*********************/
/***********************************************/
p{
    color: black;
}
h1{
    text-align: center;
    
}


.text-uppercase{
    text-transform: uppercase;
}
.container-droite{
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color:white ;
    border-radius: 0 15px 15px 0;
}